In [2]:
# project: p12

In [1]:
#Write import statements here
import time
import requests
import os
import json
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
def download(filename, url):
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    # make the request
    r = requests.get(url)
    # get the text
    file_text = r.text
    # open the file
    f = open(filename, "w", encoding = "utf-8")
    # write to the file
    f.write(file_text)
    # close the file
    f.close()
    return (str(filename) + " created!")

In [6]:
# If the notebook has already been run, this files will already exist. If you want to make sure everything is okay, download them again

y2019 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2019-2020.html"
y2020 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2020-2021.html"
y2021 = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2021-2022.html"

download("rankings.json","https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/rankings.json")
download("2019-2020.html", y2019)
download("2020-2021.html", y2020)
download("2021-2022.html", y2021)

'2021-2022.html already exists!'

In [7]:
# Open "rakings.json" with pd.read_json. Casting it to a DataFrame for liting purposes
rankings = pd.DataFrame(pd.read_json("rankings.json"))

In [8]:
#Q1: How many countries do we have in our dataset?
len(set(rankings["Country"]))

103

In [9]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on 
# "World Rank" (Note: highest rank is 1).
rankings[rankings["World Rank"] == 1]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [10]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".
uw_madison = rankings[rankings["Institution"] == "University of Wisconsin–Madison"]
uw_madison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [11]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?
uw_madison[uw_madison["Year"] == "2021-2022"]["National Rank"].iloc[0]

19

In [12]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?
uw_madison["Score"].mean()

87.26666666666667

In [13]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 
#2020-2021.
rankings[(rankings["Country"] == "Singapore") & (rankings["Year"] == "2020-2021")]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [14]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?
german_ = rankings[(rankings["Year"] == "2019-2020") & (rankings["Country"] == "Germany")]
german_best = german_[german_["National Rank"] == 1].iloc[0]
german_best["Institution"]

'Ludwig Maximilian University of Munich'

In [15]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the 
# highest-ranked institution in Germany.
usa_ = rankings[(rankings["Country"] == "USA") & (rankings["Year"] == "2019-2020")]
list(set(usa_[usa_["World Rank"] < german_best["World Rank"]]["Institution"]))

['University of Washington - Seattle',
 'Massachusetts Institute of Technology',
 'University of California San Diego',
 'Pennsylvania State University',
 'University of California, Los Angeles',
 'Princeton University',
 'University of California, Davis',
 'Washington University in St. Louis',
 'Dartmouth College',
 'University of Southern California',
 'Columbia University',
 'University of Texas at Austin',
 'Cornell University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'Northwestern University',
 'University of Chicago',
 'New York University',
 'Rutgers University–New Brunswick',
 'Harvard University',
 'California Institute of Technology',
 'Yale University',
 'University of Wisconsin–Madison',
 'University of California, San Francisco',
 'Duke University',
 'Stanford University',
 'Johns Hopkins University',
 'University of Michigan, Ann Arbor',
 'University of Illinois at Urbana–Champaign',
 'Brown University',
 'Vanderbilt University',
 'University of Texas Southwestern Medical Center',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities']

In [16]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the 
# year 2021-2022?

china_ = rankings[rankings["Country"] == "China"]
min_val = china_["Quality of Education Rank"].min()
china_[china_["Quality of Education Rank"] == min_val].iloc[0]["Institution"]

'Fudan University'

In [17]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for 
# the year 2020-2021?
india_ = rankings[(rankings["Country"] == "India") & (rankings["Year"] == "2020-2021")]
df_sorted = india_[["Institution", "Research Performance Rank"]].sort_values(by="Research Performance Rank")
list(df_sorted.iloc[0:5]["Institution"])

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [18]:
#Q11: How many institutions have rankings for all three years?
year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
set1 = set(year_2019_ranking_df["Institution"])
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
set2 = set(year_2020_ranking_df["Institution"])
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]
set3 = set(year_2021_ranking_df["Institution"])


# list containing names of institutions which have ranking for all three years
institution_2019_2020_2021 = list(set.intersection(set1, set2, set3))
len(institution_2019_2020_2021)

1856

In [19]:
institutions = []

for institution in institution_2019_2020_2021: # use your output list from Q11 here
    year_2019_ranking =  year_2019_ranking_df[year_2019_ranking_df["Institution"] == institution]["World Rank"]
    year_2020_ranking =  year_2020_ranking_df[year_2020_ranking_df["Institution"] == institution]["World Rank"]
    year_2021_ranking =  year_2021_ranking_df[year_2021_ranking_df["Institution"] == institution]["World Rank"]

    # now let's create a dictionary representation of the institution
    # each key corresponds to the column of the DataFrame we want to build
    institution_info = {}
    institution_info['Institution'] = institution
    institution_info['2019_ranking'] = year_2019_ranking.iloc[0]
    institution_info['2020_ranking'] = year_2020_ranking.iloc[0]
    institution_info['2021_ranking'] = year_2021_ranking.iloc[0]

    institutions.append(institution_info)

institutions_df = pd.DataFrame(institutions)

In [20]:
institutions_df

,Institution,2019_ranking,2020_ranking,2021_ranking
0,Oakland University,1174,1176,1192
1,"California State University, Northridge",1271,1290,1294
2,Erciyes University,1102,1155,1196
3,USI - University of Italian Speaking Switzerland,1884,803,531
4,University of Otago,333,341,351
...,...,...,...,...
1851,Peoples' Friendship University of Russia,1829,1671,1635
1852,Pomona College,1054,1251,959
1853,Lancaster University,347,348,345
1854,Istanbul Technical University,702,678,682
1855,National University of the Littoral,1450,1497,1492

In [22]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement 
# in their "World Rank" by more than 500 ranks.
institutions_df["Diff"] = institutions_df['2019_ranking'] - institutions_df['2021_ranking']
list(institutions_df[institutions_df["Diff"] > 500]["Institution"])

['USI - University of Italian Speaking Switzerland',
 'Antioch College',
 'International Institute for Management Development',
 'Academy of Scientific & Innovative Research',
 'SOAS University of London',
 'Federal University of Mato Grosso do Sul',
 'Haverford College',
 'Tôn Đức Thắng University',
 'École nationale supérieure de chimie de Montpellier']

In [23]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution had the largest change in its "World Rank"?
institutions_df[abs(institutions_df["Diff"]) == abs(institutions_df["Diff"]).max()]["Institution"].iloc[0]

'USI - University of Italian Speaking Switzerland'

In [24]:
#Q14: For all the three years, find the number of institutions that improved their World Rank each year.
institutions_df["Diff1"] = institutions_df['2019_ranking'] - institutions_df['2020_ranking']
institutions_df["Diff2"] = institutions_df['2020_ranking'] - institutions_df['2021_ranking']

len(list(institutions_df[(institutions_df["Diff1"] > 0) & (institutions_df["Diff2"] > 0)]["Institution"]))

451

In [25]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on 
# "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.
best_alumni = year_2020_ranking_df.sort_values(by="Alumni Employment Rank")["Institution"].iloc[0:10]
best_world = year_2020_ranking_df["Institution"].iloc[0:10]
list(set(best_alumni) - set(best_world))

# As it says in the requirements to use the year_2020_ranking_df, there's no need top check for the year again

['Institut Polytechnique de Paris',
 'University of Tokyo',
 'INSEAD',
 'HEC Paris',
 "École nationale d'administration",
 'China Europe International Business School',
 'International Institute for Management Development']

In [26]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to 
# do so in the rankings of year 2021-2022.
best_2019 = year_2019_ranking_df["Institution"].iloc[0:100]
best_2021 = year_2021_ranking_df["Institution"].iloc[0:100]
list(set(best_2019) - set(best_2021))

['University of Texas MD Anderson Cancer Center',
 'École Polytechnique Fédérale de Lausanne',
 'École normale supérieure',
 'University of California San Diego',
 'Aarhus University',
 'Emory University',
 'Paris-Sud University',
 'Tufts University',
 'University of Utah',
 'Paris Diderot University',
 'École Polytechnique',
 'University of Groningen']

In [27]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings 
# in the year 2020-2021.
best_2020 = year_2020_ranking_df.iloc[0:100]["Country"]
df = pd.DataFrame(best_2020.value_counts()) 
list(df[df["Country"] >= 10].index)

['USA', 'United Kingdom']

In [28]:
#Q18: Use BeautifulSoup to parse 2019-2020.html, and find the table containing the ranking data. What are the 
# column names of this table?
f = open("2019-2020.html", "r")
obj = BeautifulSoup(f, "html.parser")
table = obj.find("table")
header = table.find_all("th")
header = [h.get_text() for h in header]
header

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [29]:
def parse_html(filename):
    '''This function parses an HTML file and returns a list of dictionaries containing the tabular data'''

    # Open and get the text contents of file
    html_data = None
    with open(filename) as f:
        html_data = f.read()
    f.close()

    # Construct Beautiful Soup Object
    html_obj = BeautifulSoup(html_data, "html.parser")

    year = filename[0:9]

    # Parse header
    header = [item.text for item in html_obj.find_all("th")]
    # Extract Rows
    rows_html = html_obj.find_all("tr")[1:]

    # Lists for proper type casting
    int_convert = ["World Rank", "National Rank", "Quality of Education Rank", "Alumni Employment Rank", "Quality of Faculty Rank", "Research Performance Rank"]
    float_convert = ["Score"]

    # List of dictionaries; one dictionary for each row
    rows = list()

    for row in rows_html:
        row_dict = dict()
        row_dict["Year"] = year
        for item in row:
            item_idx = row.index(item)
            h = header[item_idx]

            if h in int_convert and item.text.isdigit():
                row_dict[h] = int(item.text)
            elif h in float_convert:
                try:
                    row_dict[h] = float(item.text)
                except ValueError:
                    row_dict[h] = None
            else:
                if item.text == "-":
                    row_dict[h] = None
                else:
                    row_dict[h] = item.text

        rows.append(row_dict)

    return rows

In [30]:
#Q19: Parse the contents of the table you found in 2019-2020.html and represent it as a list of dicts. 
# What are the first 5 dictionaries in the list?
parse_html("2019-2020.html")[0:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3}]

In [31]:
def write_json(path, data):
    with open(path, 'w', encoding="utf-8") as f:
        json.dump(data, f, indent=2)

In [32]:
#Q20: Parse the contents of 2019-2020.html, 2020-2021.html, and 2021-2022.html and combine them to create a 
# file titled my_rankings.json.
y_2019 = parse_html("2019-2020.html")
y_2020 = parse_html("2020-2021.html")
y_2021 = parse_html("2021-2022.html")

y_2019.extend(y_2020)
y_2019.extend(y_2021)

write_json("my_rankings.json", y_2019)